.order_form {

    box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.67);
    background : white;
    margin-top: 10px;
    font-family: Courier New;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.order_form_number_shop {
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px 5px;
}
.order_form_number_shop_text {
    grid-area: 1 / 2 / 2 / 4;
    padding: 5px;
}
.order_form_date {
    grid-area: 1 / 4 / 2 / 5;
    padding: 10px 5px;
}
.order_form_date_text {
    grid-area: 1 / 5 / 2 / 7;
    padding: 5px;
}
.order_form_number_factory {
    grid-area: 2 / 1 / 3 / 2;
    padding: 10px 5px;
}
.order_form_number_factory_text {
    grid-area: 2 / 2 / 3 / 4;
    padding: 5px;
}
.order_form_date_deliver {
    grid-area: 2 / 4 / 3 / 5;
    padding: 10px 5px;
}
.order_form_date_deliver_text {
    grid-area: 2 / 5 / 3 / 7;
    padding: 5px;
}
.order_form_supplement {
    grid-area: 3 / 1 / 4 / 2;
    padding: 10px 5px;
}
.order_form_supplement_text {
    grid-area: 3 / 2 / 4 / 7;
    padding: 5px;
}

.order_client_form {

    box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.67);
    background : white;
    margin-top: 10px;
    font-family: Courier New;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.order_client_form_shop { 
	grid-area: 1 / 1 / 2 / 2; 
	padding: 10px 5px;
}
.order_client_form_shop_text { 
	grid-area: 1 / 2 / 2 / 4;
	padding: 5px;
}
.order_client_form_shop_address { 
	grid-area: 1 / 4 / 2 / 5; 
	padding: 10px 5px;
}
.order_client_form_shop_address_text { 
	grid-area: 1 / 5 / 2 / 7; 
	padding: 5px;
}
.order_client_form_client { 
	grid-area: 2 / 1 / 3 / 2; 
	padding: 10px 5px;
}
.order_client_form_client_text { 
	grid-area: 2 / 2 / 3 / 4; 
	padding: 5px;
}
.order_client_form_client_tel { 
	grid-area: 2 / 4 / 3 / 5; 
	padding: 10px 5px;
}
.order_client_form_client_tel_text { 
	grid-area: 2 / 5 / 3 / 7; 
	padding: 5px;
}
.order_client_form_address_del { 
	grid-area: 3 / 1 / 4 / 2; 
	padding: 10px 5px;
}
.order_client_form_address_del_text { 
	grid-area: 3 / 2 / 4 / 7; 
	padding: 5px;
}

.order_composition{
    box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.67);
    background : white;
    margin-top: 10px;
    font-family: Courier New;
}

.order_save {

    box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.67);
    background : white;
    margin-top: 10px;
    font-family: Courier New;
    padding: 10px;
    text-align : center;
}