body {
    padding: 0;
    margin: 0;

}
body {
	background-color: #F8F8F8;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div_header {
    grid-area: 1 / 1 / 2 / 6;

    }

.div_body {
    grid-area: 2 / 1 / 5 / 6;
	position: relative;
	height: 99%;
	border-top: 1px solid #EEEEEE;
	}

.div_footer {
	position: fixed;
    bottom: 0;
	width: 100%;
    grid-area: 5 / 1 / 6 / 6;
    }

.input_edit_old{
     padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 0px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     width: 95%;

}
 .input_edit_old:focus {
     outline:none;
}

.input_edit {
    width: 99%;
    padding: 8px 8px;
    margin: 8px 0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1.1em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border-radius:4px;
}

.input_edit::placeholder {

  font-size: 1em;
  font-style: italic;
}

.btn {
  border-radius: 10px;
  font-family: Courier New;
  color: #000000;
  font-size: 20px;
  background: #E7E7E7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}

.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;

}

.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.btn_new {
    padding: 5px 10px 5px 10px;
}

.label_edit{
	font-size:1.1em;
	vertical-align: middle;
}