<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Мануфактура уюта</title>
        <meta charset="utf-8">
        <link type="text/css" th:href="@{/assets/css/style.css}" href="./assets/css/style.css" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/menu.css}" href="./assets/css/menu.css" rel="stylesheet"/>
        <link type="text/css" th:href="@{/assets/css/u_style.css}" href="./assets/css/u_style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="parent">
            <div class="div_header" th:insert="fragments/menu">

            </div>
            <div class="div_body">
                <form action="/admin/user_page" method="post" th:object="${user}">
                    <div class="u_form">
                        <div class="u_form_header"><h1>Пользователь</h1></div>
                        <div class="u_form_username"><span class="label_edit">Логин</span></div>
                        <div class="u_form_username_text">
                            <input class="input_edit" name="userName" type="text" placeholder="Логин" autocomplete="off"/>
                        </div>
                        <div class="u_form_password"><span class="label_edit">Пароль</span></div>
                        <div class="u_form_password_text">
                            <input class="input_edit" name="userPassword" type="password" placeholder="Пароль" autocomplete="off"/>
                        </div>
                        <div class="u_form_role"><span class="label_edit">Роль</span></div>
                        <div class="u_form_role_text">
                            <select class="input_edit" name="userRole">
                                <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getRoleName()}"></option>
                            </select>
                        </div>
                        <div class="u_form_lastname"><span class="label_edit">Фамилия</span></div>
                        <div class="u_form_lastname_text">
                            <input class="input_edit" name="lastName" type="text" placeholder="Фамилия"/>
                        </div>
                        <div class="u_form_firstname"><span class="label_edit">Имя</span></div>
                        <div class="u_form_firstname_text">
                            <input class="input_edit" name="firstName" type="text" placeholder="Имя"/>
                        </div>
                        <div class="u_form_email"><span class="label_edit">Почта</span></div>
                        <div class="u_form_email_text">
                            <input class="input_edit" name="email" type="text" placeholder="Почта"/>
                        </div>
                        <div class="u_form_footer">
                            <button class="btn_new">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="div_footer"> <h1>footer</h1> </div>
        </div>

    </body>
</html>