<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Мануфактура</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/main.css" th:href="@{/assets/css/main.css}" rel="stylesheet"/>
    <link href="./css/menu.css" th:href="@{/assets/css/menu.css}" rel="stylesheet"/>
    <link href="./css/order_list_style.css" th:href="@{/assets/css/order_list_style.css}" rel="stylesheet">
  </head>
  <body>
    <div class="parent">
      <div class="div_header" th:insert="fragments/menu"></div>
      <div class="div_body">
        <div class="tools">
          <div class="order_filter">
            <div class="order_filter_date_from"><span class="label">Дата от</span></div>
            <div class="order_filter_date_from_text"><input class="inp" type="date"></div>
            <div class="div3"> </div>
            <div class="div4"> </div>
            <div class="div5"> </div>
            <div class="div6"> </div>
            <div class="order_filter_date_to"><span class="label">Дата до</span></div>
            <div class="order_filter_date_to_text"><input class="inp" type="date"></div>
            <div class="div9"> </div>
            <div class="div10"> </div>
            <div class="div11"> </div>
            <div class="order_filter_update"><input class="btn" type="button" value="Обновить" /></div>
          </div>
          <div style="padding: 5px">
            <form action="/order/order_add" method="get">
              <button class="btn">Добавить</button>
            </form>
          </div>
          <table>
            <thead>
              <th>Фабричный Номер</th>
              <th>Магазиный Номер</th>
              <th>Дата П/отгрузки</th>
              <th>Дата заказа</th>
              <th>Наи. дилера</th>
              <th>Закрой</th>
              <th>Швея</th>
              <th>Отстрочка</th>
              <th>Столяр</th>
              <th>Резчик Поролон</th>
              <th>Поклейщик</th>
              <th>Обивщик</th>
              <th>Декор</th>
              <th>Настройки</th>
            </thead>
            <tbody>
              <tr th:each="order : ${orders}">
                <td th:utext="${order.getNumberFactory()}"></td>
                <td th:utext="${order.getNumberShop()}"></td>
                <td th:utext="${order.getDateRegistration()}"></td>
                <td th:utext="${order.getDateDelivery()}"></td>
                <td th:utext="${order.getIdShop().getShopName()}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button style="margin-right: 1px;" class="btn_small" onclick=""><img style="width: 16px;" src="/assets/ico/edit.png"/></button>
                  <a th:href="@{'/order/print/' + ${order.getId()}}" target="_blank">
                      <button class="btn_small" onclick="getOrderPdf(${order.getIdShop().getShopName()})">
                        <img style="width: 16px" src="/assets/ico/print.png"/>
                      </button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="div_footer"></div>
    </div>
  </body>
</html>