<ul>
    <li><a href="#">Настройка системы</a></li>
    <li><a href="admin?fr=user">Пользователи</a></li>
    <li><a class="active" href="#">Сотрудники</a></li>
</ul>
<div >
    <form action="/admin/employee_page" method="get">
        <button type="submit" class="btn_new" >Новый сотрудник</button>
    </form>

    <table class="table">
        <thead>
            <th></th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th></th>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td><form action="/admin/employeeedit" method="post">
                    <input type="hidden" th:value="${employee.getId()}" name="employeeId"/>
                    <button class="btn_new">изменить</button>
                    </form>
                </td>
                <td th:text="${employee.getLastName()}"></td>
                <td th:text="${employee.getFirstName()}"></td>
                <td th:text="${employee.getMiddleName()}"></td>
                <td th:text="${employee.getDateBirth()}"></td>
                <td><form action="/admin/employee/delete" method="post">
                    <input type="hidden" th:value="${employee.getId()}" name="employeeId"/>
                    <button class="btn_new">удалить</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</div>