<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Мануфактура</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./css/main.css" th:href="@{assets/css/main.css}" rel="stylesheet"/>
        <link href="./css/menu.css" th:href="@{assets/css/menu.css}" rel="stylesheet"/>

    </head>
    <body>
        <div class="parent">
            <div class="div_header" th:insert="fragments/menu">

            </div>
            <div class="div_body">


            </div>
            <div class="div_footer"></div>
        </div>
    </body>
</html>